@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  max-width: 500px;
  margin: auto;
}

.creator {
  margin: 5px 15px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: 1px dashed lightgray;
  align-items: center;
}

.todo-item:first-child {
  border-top: 1px dashed lightgray;
}

.todo-item div.completed {
  text-decoration: line-through;
  color: lightgray;
}

.w-100 {
  width: 100% !important;
}
